{% extends "layout.html" %}
{% block content %}
    {% for word in glossary.items %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('users.account') }}">Jaydarius</a>
              <small class="text-muted">test</small>
            </div>
            <h2><a class="article-title" href="#">{{ word.word }}</a></h2>
            <p class="article-content">{{ word.definition }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}