{% extends "layout.html" %}
{% block content %}
    <h1>Reading List</h1>
    <div class="reading-section">
        <h2>2020</h2>
        <ul>
            <li>The Fellowship of the Ring - J. R. R. Tolkien</li>
            <li>The Phoenix Project - Kim, Behr, Spafford</li>
            <li>Foundation and Empire - Isaac Asimov</li>
            <li>Antifragile - Nassim Nicholas Taleb</li>
            <li>Foundation - Isaac Asimov</li>
            <li>The Meaning of Marriage - Timothy Keller</li>
            <li>The Hobbit - J. R. R. Tolkien</li>
            <li>That Hideous Strength - C. S. Lewis</li>
            <li>Aquinas: A Beginner's Guide - Edward Feser</li>
            <li>City Beyond Time: Tales of the Fall of Metachronopolis - John C. Wright</li>
            <li>The Other End of the Leash - Patricia McConnell</li>
            <li>Perelandra - C. S. Lewis</li>
        </ul>    
        <h2>2019</h2>
        <ul>
            <li>Darkness Reflected - Will J. J.</li>
            <li>Out of the Silent Planet - C. S. Lewis</li>
            <li>SJWs Always Lie - Vox Day</li>
            <li>How to Be Poor - Milo Yiannopoulus</li>
            <li>Alt Hero Omnibus Vol. 1 - Vox Day</li>
            <li>The Irrational Atheist - Vox Day</li>
            <li>On War - Carl von Clausewitz</li>
            <li>A History of France - John Julius Norwich</li>
            <li>A History of Strategy - Martin van Creveld</li>
        </ul>
        <h2>2018</h2>
        <ul>
            <li>Sacre Bleu - Christopher Moore</li>
            <li>The Richest Man in Babylon - George S. Clason</li>
            <li>The Forge and the Crucible - Mircea Eliade</li>
            <li>Tribe of Mentors - Tim Ferris</li>
        </ul>

    </div>
{% endblock content %}