{% extends "layout.html" %}
{% block content %}
    <h1>Reading List</h1>
    <div class="reading-section">
        <h2>2020</h2>
        <ul>
            <li>The Other End of the Leash - Patricia McConnell</li>
            <li>Perelandra - C. S. Lewis</li>
        </ul>    
        <h2>2019</h2>
        <ul>
            <li>Perelandra - C. S. Lewis</li>
            <li>Darkness Reflected - Will J. J.</li>
            <li>Out of the Silent Planet - C. S. Lewis</li>
            <li>SJWs Always Lie - Vox Day</li>
            <li>How to Be Poor - Milo Yiannopoulus</li>
            <li>Alt Hero Omnibus Vol. 1 - Vox Day</li>
            <li>The Irrational Atheist - Vox Day</li>
            <li>On War - Carl von Clausewitz</li>
            <li>A History of France - John Julius Norwich</li>
            <li>A History of Strategy - Martin van Creveld</li>
        </ul>
        <h2>2018</h2>
        <ul>
            <li>Sacre Bleu - Christopher Moore</li>
            <li>The Richest Man in Babylon - George S. Clason</li>
            <li>The Forge and the Crucible - Mircea Eliade</li>
            <li>Tribe of Mentors - Tim Ferris</li>
        </ul>

    </div>
{% endblock content %}