body {
  background: #1d2124;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #007bff;
}

p {
  color: whitesmoke;
}


.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.nav-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.content-section {
  background: #212529;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: whitesmoke;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 30px;
  width: 30px;
  margin-right: 16px;
  border-radius: 50%;
}

.article-metadata {
  padding-bottom: 3px;
  margin-bottom: 4px;
  border-bottom: 3px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.about-section{
  padding: 10px 11px 1px 10px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  background: #212529
}

legend {
    color: whitesmoke;
}

.form-control-label {
    color: whitesmoke;
}

.form-check-label {
  color: whitesmoke;
}

.btn-info  {
  background-color: #007bff;
  border-color: whitesmoke;
}

.btn-info:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-outline-info {
  border-color: whitesmoke;
  color: #007bff;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}